# Node
node_modules/

# SvelteKit
.svelte-kit/
build/

# Output
.output/
.vercel/
.netlify/
.wrangler/

# Env
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db


**/node_modules/
**/.svelte-kit/
**/build/
